body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

#quiz-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

#choices li {
  list-style-type: none;
  margin: 10px;
}

#feedback {
  margin-top: 20px;
  font-weight: bold;
}

#timer {
  margin-top: 20px;
}
